infect.info {
    file_server {
        root www
        index index.html
    }
    
}

infect.org {
    file_server {
        root www
        index index.html
    } 
}

vet.infect.info {
    file_server {
        root www
        index index.html
    }
}