[Service]
ExecStart=caddy run --config /home/ubuntu/apps/maintenance-page/Caddyfile
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rda
User=root
Group=root

WorkingDirectory=/home/ubuntu/apps/maintenance-page

[Install]
WantedBy=multi-user.target
